/* BASIC THEME CONFIGURATION */
/*
body {
  color: #797979;
  background: #eaeaea;
  font-family: "Ruda", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
}



*/
ul li {
  list-style: none;
}

.link,
.link:hover,
.link:focus {
  text-decoration: none;
  outline: none;
}
::selection {
  background: #4ecdc4;
  color: #fff;
}
::-moz-selection {
  background: #4ecdc4;
  color: #fff;
}

/*sidebar navigation*/

#sidebar {
  /* width: 210px; */
  height: -5000px;
  position: relative;
  /* background: #2f323a; */
  border-radius: 2%;
}

#sidebar h5 {
  color: #f2f2f2;
  font-weight: 700;
}

#sidebar ul li {
  position: relative;
}

/* ul.sidebar-menu, */
ul.sidebar-menu {
  margin: -2px 0 0;
  margin-top: 15px;
  padding: 0;
  min-height: 63vh;
}

ul.sidebar-menu li .link {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 0 0 15px 10px;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.sidebar-menu li .link:hover {
  color: white;
  background: transparent;
}

ul.sidebar-menu li.active .link {
  color: #4ecdc4;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}

ul.sidebar-menu li {
  /*line-height: 20px !important;*/
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

ul.sidebar-menu li.sub-menu {
  line-height: 15px;
}

ul.sidebar-menu li .link span {
  display: inline-block;
}

ul.sidebar-menu li .link.active,
ul.sidebar-menu li .link:hover,
ul.sidebar-menu li .link:focus {
  background: #4ecdc4;
  color: #fff;
  display: block;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*--sidebar toggle---*/

.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}

.sidebar-closed > #sidebar > ul {
  display: none;
}

.sidebar-closed #main-content {
  margin-left: 0px;
}

.sidebar-closed #sidebar {
  margin-left: -180px;
}
.admin-dash {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.admin-dash-nav {
  margin-top: 2.4rem;
  background-color: #2f323a;
}
.admin-dash-child {
  min-width: 65%;
  margin-top: 2.4rem;
  background-color: #e3e7ec;
  padding: 3% 1.4rem 3% 0;
  font-family: "Roboto Slab", serif;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
}
.admin-child-theme {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 8px 8px 2px 0 rgba(82, 84, 107, 0.37);
  -moz-box-shadow: rgba(82, 84, 107, 0.37) 8px 8px 2px 0;
  -webkit-box-shadow: rgba(82, 84, 107, 0.37) 8px 8px 2px 0;
  backdrop-filter: blur(6px);
  padding-left: 4%;
}

/*Helpers*/
.centered {
  text-align: center;
}
.mt {
  margin-top: 25px;
}
.nav-collapse.collapse {
  /* display: inline; */
}

.img-circle {
  border-radius: 50%;
}
@media (max-width: 769px) {
  .admin-dash {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 769px) {
}
